.gitignore
important.txt
scripts/credentials.json
scripts/entrypoint.sh
scripts/build-gh-actions-runner.sh
scripts/create-acr.sh
scripts/create-aks.sh
scripts/create-oidc-trust.sh
scripts/assign-role.sh
scripts/authorize-acr.sh
scripts/authorize-aks.sh
scripts/register-app.sh
src/Dockerfile.github